<div>
  <h1>Welcome, {{userName}} !</h1>

  <iframe width="600px" height="600px"
    src="https://api.mapbox.com/styles/v1/batgalkatlyn/cl6oilslx000614qqdzj24swp.html?title=false&access_token=pk.eyJ1IjoiYmF0Z2Fsa2F0bHluIiwiYSI6ImNsNm9meWpxZTBhbHozaXRldHhldGp5NDEifQ.wTNr-1vm16YK7gpQFGuXtw&zoomwheel=true#7.07/27.828/-81.554"
    title="Gator Tracker" style="border: double green 6px"></iframe>

  <div>
    <h2>YOUR Recent Sightings</h2>
    {{#each posts as |post|}}
    {{> post-details}}
    <p>Created on {{format_date post.date}}</p>

    <div id="edit-button" class="edit-button">
      <a href="/edit-post/{{post.id}}" class="button is-link" data-id="{{post.id}}">Edit</a>
    </div>

    <div class="delete-button">
      <button class="button is-danger" type="click" data-id="{{post.id}}">Delete</button>
    </div>

    {{/each}}
  </div>

</div>

<script src="/js/dashboard.js"></script>