<h1>Edit Post</h1>
<form class="edit-form" id="post-id" data-id='{{id}}'>
    <div class="field">
        {{!-- <div id="post-id" type="hidden" data-id='{{id}}'</div> --}}
        <label class="label">Title</label>
        <div class="control">
            <input class="input" id="title" type="text" value='{{title}}'/>
        </div>
    </div>

    <div class="field">
        <label class="label">Gator Description</label>
        <div class="control">
            <input class="input" id="description" type="text" value="{{description}}"/>
        </div>
    </div>
    

    <div class="field">
        <label class="label">Encounter Details</label>
        <div class="control">
            <textarea class="textarea" id="sighting">{{sighting}}</textarea>
        </div>
    </div>

    <div class="field">
        <label class="label">Date</label>
        <div class="control">
            <input class="input" id="date" type="text" value='{{format_date date}}'>
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control" "submit-edit">
            <button type="submit" class="button is-link">Update</button>
        </div>
        <div class="control">
            <a href="/dashboard" class="button is-light">Cancel</a>
        </div>
    </div>

</form>

<script src="/js/edit.js"></script>