<div class="all-posts-container" "post-archive">

        <div class="card">
            <header class="card-header">
                <h1 class="card-header-title">
                    {{title}}
                </h1>
                <button class="card-header-icon" aria-label="more options">
                    <span class="icon">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </header>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="content">
                    <p>{{sighting}}</p>
                </div>
                <div class="content">
                    <p>Gator description: {{description}}</p>
                </div>
                    <p>Created on {{format_date date}}</p>
            </div>
        </div>

       
        <div class="comments">
             {{#each comment as |comment| }}
            <p>{{post.id.comment}} </p>
             {{/each}}
        </div>
       

        {{!-- <div id="edit-button" class="edit-button">
            <button type="submit" data-id="{{project.id}}">Edit</button>

        </div>

        <div class="delete-button">
            <button type="submit" data-id="{{project.id}}">Delete</button>
        </div> --}}

    </div>

    <script src="/js/dashboard.js"></script>