<div class="all-posts-container" "post-archive">

        <div class="card">
            <header class="card-header">
                <h1 class="card-header-title">
                    {{title}}
                </h1>
                <button class="card-header-icon" aria-label="more options">
                    <span class="icon">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </header>
        </div>

        <div class="card">
            <div class="card-content post-container" data-post-id="{{id}}">
                <div class="content">
                    <p>{{sighting}}</p>
                </div>
                <div class="content">
                    <p>Gator description: {{description}}</p>
                </div>
                    <p>Created by {{user.userName}}on {{format_date date}}</p>
            </div>
        </div>

        <div class="add-comment">

        </div>

       
        <div class="comments">
          <h4>Comments</h4>
    {{!view all of the post's comments --}}
    {{#if comments.length}}
    {{#each comments as |comment|}}
    <p>{{comment.comment}} by {{comment.user.userName}} on {{format_date comment.date_created}}</p>
    {{/each}}
    </div>
    {{/if}}
        </div>

        {{#if logged_in}}
<div class="comment-box-div">
    <h3> Add a Comment</h3>
    <form class="comment-form">
    <textarea id="comment-box-input"></textarea>
    <div class="button-div">
    <button class="submitting-button" type="submit">submit</button>
    </div>
    </form>
</div>
{{else}}
<p class="login-to-comment">Login to comment</p>
<div class="button-div">
    <button onclick="window.location.href='/login';">login</button>
</div>
{{/if}}
       

        {{!-- <div id="edit-button" class="edit-button">
            <button type="submit" data-id="{{project.id}}">Edit</button>

        </div>

        <div class="delete-button">
            <button type="submit" data-id="{{project.id}}">Delete</button>
        </div> --}}

    </div>

    <script src="../js/single-post.js"></script>